<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://robyrew.github.io/TopPresenter/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>4X2KEouvDSSL8Yyj8xr8OmxVFnGGSk1L2olrXkkm8CM=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>7200</integer>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.robyrew.toppresenter.bible</string>
			<key>UTTypeDescription</key>
			<string>TopPresenter Bible</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeIconFile</key>
			<string>TopPresenterBible</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tpbible</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.robyrew.toppresenter.song</string>
			<key>UTTypeDescription</key>
			<string>TopPresenter Song</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeIconFile</key>
			<string>TopPresenterSong</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tpsong</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.robyrew.toppresenter.songcollection</string>
			<key>UTTypeDescription</key>
			<string>TopPresenter Song Collection</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeIconFile</key>
			<string>TopPresenterSongCollection</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tpsongcollection</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.robyrew.toppresenter.slides</string>
			<key>UTTypeDescription</key>
			<string>TopPresenter Slides</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeIconFile</key>
			<string>TopPresenterSlides</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tpslides</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.robyrew.toppresenter.schedule</string>
			<key>UTTypeDescription</key>
			<string>TopPresenter Session</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeIconFile</key>
			<string>TopPresenterSession</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tpschedule</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.robyrew.toppresenter.theme</string>
			<key>UTTypeDescription</key>
			<string>TopPresenter Theme</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeIconFile</key>
			<string>TopPresenterTheme</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tptheme</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TopPresenter Bible</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.robyrew.toppresenter.bible</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TopPresenterBible</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TopPresenter Song</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.robyrew.toppresenter.song</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TopPresenterSong</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TopPresenter Song Collection</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.robyrew.toppresenter.songcollection</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TopPresenterSongCollection</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TopPresenter Slides</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.robyrew.toppresenter.slides</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TopPresenterSlides</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TopPresenter Session</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.robyrew.toppresenter.schedule</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TopPresenterSession</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TopPresenter Theme</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.robyrew.toppresenter.theme</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TopPresenterTheme</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
</dict>
</plist>
